.calendar-container {
  margin: 15px auto;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 60%; /* ลดขนาดสูงสุดให้เล็กลง */
  min-height: 100px; /* ลดความสูงขั้นต่ำให้เล็กลง */
  font-size: 0.9em; /* ลดขนาดตัวอักษรในปฏิทิน */
  align-items: center;
}

.headbg {
  background-color: #c28800;
  text-align: center; /* ทำให้ข้อความอยู่กลาง */
  margin: 0;
  padding: 12px; /* ปรับเพิ่ม padding เพื่อให้พื้นที่มากขึ้น */
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  color: white;
}
.headbg h3 {
  margin: 0; /* กำจัดระยะขอบของ <h2> */
  font-weight: bold; /* ทำให้ข้อความเป็นตัวหนา */
}

.calendar-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 18px 20px 10px 10px; /* ใช้ margin ในรูปแบบ shorthand */
  font-size: 16px;
  font-weight: bold;
}

.calendar-navigation a {
  color: #c28800;
  text-decoration: none;
  font-size: 16px;
}

.calendar-navigation a:hover {
  text-decoration: underline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

th,
td {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 3px;
  font-size: 15px;
}

th {
  color: #000000;
  background-color: #f0f0f0; /* เพิ่มสีพื้นหลังให้หัวตาราง */
}

td {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
  height: 65px;
}

td:hover {
  background-color: #f4a261;
  color: white;
}

.current-day {
  background-color: #c28800;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.add-event-btn,
.cancle-event-btn {
  margin-top: -15px;
  text-align: center;
  /* margin-bottom: 100px; */
}

.add-event-btn button,
.cancle-event-btn button {
  font-size: 1.2em; /* ปรับขนาดตัวอักษรในปุ่ม */
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  flex: 1; /* ให้ปุ่มมีขนาดเท่ากัน */
}

.add-event-btn button {
  background-color: #c28800;
  color: white;
}

.add-event-btn button:hover {
  background-color: #b57200; /* เปลี่ยนสีเมื่อ hover */
}

.cancle-event-btn button {
  background-color: #ef5252;
  color: white;
}

.cancle-event-btn button:hover {
  background-color: darkred; /* สีเมื่อ hover */
}

.btn-add-cancle {
  display: flex; /* ใช้ flexbox จัดให้อยู่แถวเดียวกัน */
  gap: 10px; /* ระยะห่างระหว่างปุ่ม */
  position: absolute;
  top: 400px;
  left: 56%;
  transform: translateX(-10%); /* ปรับให้อยู่กลาง */
}
