table {
  width: 400px;
  border-collapse: collapse;
  margin-top: -50px;
  border-radius: 15px; /* กรอบโค้ง */
  overflow: hidden; /* ซ่อนส่วนที่เกินจากขอบโค้ง */
  border: -2px solid #ffcc00; /* เส้นขอบรอบตาราง */
  margin-bottom: 0px;
}

td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000000; /* เส้นขอบระหว่างเซลล์ */
}

/* เพิ่มการตกแต่งสีพื้นหลังของหัวตาราง */
th {
  background-color: #002e5c;
  color: white;
  font-weight: bold;
  width: 90px; /* ขนาดช่อง table เเนวนอนข้างบนสุด*/
  padding: 10px;
}

/* สีพื้นหลังเมื่อโฮเวอร์ */
tr:hover {
  background-color: #ba0000;
}

/* เพิ่มขอบโค้งสำหรับปุ่ม */
.btn {
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #ffa500; /* สีพื้นหลังของปุ่ม */
  color: white; /* สีตัวอักษรในปุ่ม */
  padding: 2px 10px; /* ระยะห่างภายในปุ่ม */
  border: none; /* ลบขอบ */
  border-radius: 0px; /* ขอบโค้งมนของปุ่ม */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
}

input[type="submit"]:hover {
  background-color: #ffcc00; /* สีปุ่มเมื่อ hover */
}

form{
    margin-bottom: 0;
    margin-top: 50px;
}

