.headpf {
  font-size: 35px;
  text-align: center;
  color: #00275e;
  font-weight: bold;
  margin-top: 40px;
}

.form-group {
  display: flex; /* จัดให้อยู่ในแถวเดียวกัน */
  align-items: center; /* จัดตำแหน่งแนวตั้งให้อยู่กึ่งกลาง */
  margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่าง */
  margin-top: 15px;
  font-weight: bold;
  color: #00275e;
  font-size: 18px;
  text-align: right; /* ทำให้ข้อความอยู่ด้านขวา */
  white-space: nowrap; /* ป้องกันการแบ่งบรรทัด */
}

label {
  width: 100px; /* กำหนดความกว้างของ label */
  margin-right: 10px; /* เพิ่มระยะห่างระหว่าง label กับ input */
}

input {
  flex: 1; /* กำหนด input ให้ขยายเต็มพื้นที่ */
  color: black;
}

.form-control-Pro {
  text-align: left;
  width: 400px;
  padding: 8px; /* เพิ่มระยะห่างภายใน */
  border: 1px solid #ccc; /* ขอบกล่อง */
  border-radius: 4px; /* มุมโค้ง */
  font-size: 16px; /* ขนาดตัวอักษร */
  background-color: #ffffff; /* สีพื้นหลัง */
  color: black;
}
.container-Pro {
  margin-top: 10px;
  width: 35%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100; /* ให้ความสูงของ container ครอบคลุมหน้าจอทั้งหมด */
  margin-left: 450px;
}
