.container-Regis {
  margin-top: 10px;
  width: 500px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100; /* ให้ความสูงของ container ครอบคลุมหน้าจอทั้งหมด */
  margin-left: 400px;
}
.form-control-Regis {
  margin-bottom: 10px;
  font-size: 17px;
  padding: 10px;
  width: 400px; /*ช่องใส่ข้อมูล*/
}
/*เนื้อหา จากตรงนี้*/
.headpf {
  font-size: 40px;
  text-align: center;
  color: #002953;
  font-weight: bold;
  margin-top: 20px;
}
.form-group {
  display: flex; /* จัดให้อยู่ในแถวเดียวกัน */
  align-items: center; /* จัดตำแหน่งแนวตั้งให้อยู่กึ่งกลาง */
  margin-bottom: 10px; /* เพิ่มระยะห่างด้านล่าง */
  text-align: right;
  margin-top: 15px;
  font-weight: bold;
  color: #002953;
}

label {
  width: 100px; /* กำหนดความกว้างของ label */
  margin-right: 10px; /* เพิ่มระยะห่างระหว่าง label กับ input */
  font-size: 18px;
}

input {
  flex: 1; /* กำหนด input ให้ขยายเต็มพื้นที่ */
  color: rgb(0, 0, 0);
}
.btn-primary {
  color: white;
  background-color: rgb(0, 85, 255); /* สีพื้นหลัง */
  border: none; /* ไม่มีกรอบ */
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 0px;
}
.btn-primary:hover {
  background-color: darkblue; /* สีพื้นหลังเมื่อเอาเมาส์ไปวาง */
}

.btn-primary a {
  color: white; /* สีตัวอักษร */
  text-decoration: none; /* ไม่มีเส้นใต้ */
}

.btn-cancel {
  color: white;
  background-color: red; /* สีพื้นหลัง */
  border: none; /* ไม่มีกรอบ */
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-left: 10px;
}

.btn-cancel:hover {
  background-color: darkred; /* สีพื้นหลังเมื่อเอาเมาส์ไปวาง */
}

.btn-cancel a {
  color: white; /* สีตัวอักษร */
  text-decoration: none; /* ไม่มีเส้นใต้ */
}
